.wrapper {
  display: grid;
  place-items: center;
  margin: 2vw;
}

.subBtn{
  color: white;
  background-color: teal;
  font-size: large;
  border-radius: 5px;
}

.survey-card{
  padding: 2vw;
  font-family: monospace;
}
