<div class="wrapper">
  <mat-grid-list cols="2" rowHeight="250px">
    <mat-grid-tile>
      <app-survey-card class="survey-card" title="Question 1" question="How much do you enjoy filming or editing videos?"
        (result)="gotResult($event, 0)" minValue="1" maxValue="10">
      </app-survey-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-survey-card class="survey-card" title="Question 2"
        question="How interested are you to konw how a film is made?" (result)="gotResult($event, 1)" minValue="1"
        maxValue="10">
      </app-survey-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-survey-card class="survey-card" title="Question 3" question="How much do you value communction with people?"
        (result)="gotResult($event, 2)" minValue="1" maxValue="10">
      </app-survey-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-survey-card class="survey-card" title="Question 4"
        question="How often do you find yourslef using technology?" (result)="gotResult($event, 3)" minValue="1"
        maxValue="10">
      </app-survey-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-survey-card class="survey-card" title="Question 5"
        question="How interested are you in learning to write code?" (result)="gotResult($event, 4)" minValue="1"
        maxValue="10">
      </app-survey-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-survey-card class="survey-card" title="Question 6"
        question="How curious are you about user interface/ web design?" (result)="gotResult($event, 5)" minValue="1"
        maxValue="10">
      </app-survey-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-survey-card class="survey-card" title="Question 7"
        question="How creative are you? Do you you have a artistic eye?" (result)="gotResult($event, 6)" minValue="1"
        maxValue="10">
      </app-survey-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-survey-card class="survey-card" title="Question 8" question="How comfortable are you learning a new skill outside of your field?"
        (result)="gotResult($event, 7)" minValue="1" maxValue="10">
      </app-survey-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-survey-card class="survey-card" title="Question 9" question="How much do you enjoy telling stories through the medium of film or photography?"
        (result)="gotResult($event, 8)" minValue="1" maxValue="10">
      </app-survey-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-survey-card class="survey-card" title="Question 10" question="How often do you find yourself taking pictures of things?"
        (result)="gotResult($event, 9)" minValue="1" maxValue="10">
      </app-survey-card>
    </mat-grid-tile>
  </mat-grid-list>

<hr>
  <div class="firebase">
    <h3>Can we save your results? If yes, please enter your information below. Otherwise, you may submit to receive your results.</h3>
      <div class="user-info">
        <label for="firstName">First name: </label> <!-- label element -->
            <input type="text" [(ngModel)]="firstName" id="firstName" name="firstName"> &nbsp; <!-- input element, attribute type -->
        <label for="lastName">Last name: </label> <!-- label element -->
            <input type="text" [(ngModel)]="lastName" id="lastName" name="lastName"> &nbsp;<!-- input element, attribute type -->
        <label for="gradYear">Graduation Year: </label> <!-- label element -->
            <input type="text" [(ngModel)]="gradYear" id="gradYear" name="gradYear"> &nbsp;<!-- input element, attribute type -->
        <br> &nbsp;
          <button class="saveBtn" (click)="add()">Submit your info</button>
        <br>
      </div>
  </div> 
  <hr>
  <br> 
  <a mat-stroked-button class="subBtn" (click)="onSubmit()">See Results</a>
  <!-- Test to see user inputs are being saved in the database (Uncomment to see list of survey takers) -->
  <!-- <h3 class="firebase">Here is a list of people who have already taken this survey!</h3>
  <ul *ngFor="let input of inputs | async ">
    <li> {{input.firstName}} {{input.lastName}}, {{input.gradYear}}</li>
  </ul> -->
</div>