.wrapper {
  display: grid;
  margin: 2vw;
  display: inline;
}

.subBtn{
  color: white;
  background-color: teal;
  font-size: large;
  border-radius: 5px;
  display: grid;
  margin-left: 45%;
  margin-right: 45%;

}

.survey-card{
  padding: 2vw;
  font-family: monospace;
}
