<div class="wrapper">
  <app-survey-card class="survey-card" title="Question 1" question="How much do you enjoy making videos?"
    (result)="gotResult($event, 0)" minValue="1" maxValue="100">
  </app-survey-card>

  <app-survey-card class="survey-card" title="Question 2" question="How creative do you consider yourself?"
    (result)="gotResult($event, 1)" minValue="1" maxValue="100">
  </app-survey-card>

  <app-survey-card class="survey-card" title="Question 3" question="How much do you like connecting with people?"
    (result)="gotResult($event, 2)" minValue="1" maxValue="100"></app-survey-card>

  <app-survey-card class="survey-card" title="Question 4" question="How often would you say you take pictures?"
    (result)="gotResult($event, 2)" minValue="1" maxValue="10"></app-survey-card>

  <a mat-stroked-button class="surveyBtn" routerLink="/result-a">See Results</a>

</div>