<h2 class="questionNum">{{title}}</h2>
<mat-card class="card">
  <mat-card-header>
    <mat-icon class="text">question_answer</mat-icon>
    <mat-card-title class="text">{{ question }}</mat-card-title>
    <mat-card-subtitle class="text">Choose from {{ minValue }} to {{ maxValue }}
      {{ units }}.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-slider class="slider" (change)="sliderChange($event)" min="{{ minValue }}" max="{{ maxValue }}" step="1"
      value="1" thumbLabel></mat-slider>
  </mat-card-content>
</mat-card>