.card {
  margin: 5em;
  max-width: 30vw;
  min-width: 400px;
  border: 2px solid teal;
  border-radius: 1em;
  background-color: white;
  border-width: 0.3vw;
}

.text {
  color: teal;
}

.slider {
  width: 100%;
  background-color: white;
  border-radius: 1.5em;
}