.card {
  margin: 0.5em;
  max-width: 30vw;
  min-width: 200px;
  border: 2px solid teal;
  border-radius: 1em;
  background-color: white;
  border-width: 0.3vw;
}

.text {
  color: teal;
  font-weight: bold;
}

.slider {
  width: 100%;
  background-color: white;
  border-radius: 1.5em;
}

.questionNum{
  font-family: monospace;
  font-weight: bold;
}