<mat-card class="profile-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title class="title">Lindsay Laurie</mat-card-title>
    <mat-card-subtitle class="subtitle">Digital Communications</mat-card-subtitle>
  </mat-card-header>
  <div image="row">
    <img mat-card-image src="/assets/img/lindsay2.jpg" alt="Photo of Linsay">
    <img mat-card-image src="/assets/img/lindsay1.jpg" alt="Photo by Abigail">
    <img mat-card-image src="/assets/img/lindsay3.jpg" alt="Graphic Design by Abigal">
  </div>
  <mat-card-content class="content">
    <p>I chose Digital Communications as a major because it has a balance of both technical and creative classes.
      I wanted classes that would stretch the left side in practical skills, but I also have an artistic eye.
      Digital Communications provides a good balance of the the. In the future, I hope to these skills in the
      field of urban design and planning.
    </p>
    <mat-card-actions>
      <a mat-stroked-button class="button" href="https://lifeinsize2.weebly.com/one-my-own.html" target="_blank">Check
        Out My Portfolio!</a>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<!--PROFILE CARDS -->
<div id="homebottom">
  <h2 class="seeMore">See More Digi Commer Profiles</h2>
  <!-- Carly's Profile Components -->
  <div class="row">
    <div class="column">
      <app-profile-card name="Carly Brooks" year="2021" img="carly_profile.JPG" profile="carly-profile">
      </app-profile-card>
    </div>
    <div class="column">
      <app-profile-card name="Abigail Leon" year="2021" img="abby_profile.JPG" profile="abby-profile">
      </app-profile-card>
    </div>
  </div>
</div>