.layout {
    display: flex;
    flex-direction: row;
}

.img {
    max-width: 500px;
    padding: .5em;
    margin: .5em;
}

.content {
    justify-content: right;
    padding: .5em;
    margin: .5em;
}
