<!-- Written By: Carly Brooks -->

<mat-card class="profile-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title class="title">Carly Brooks</mat-card-title>
    <mat-card-subtitle class="subtitle">Digital Communications</mat-card-subtitle>
  </mat-card-header>
  <div image="row">
    <img mat-card-image src="/assets/img/carly3.jpg" alt="Photo of Carly">
    <img mat-card-image src="/assets/img/carly2.jpg" alt="Photo by Carly">
    <img mat-card-image src="/assets/img/carly4.jpg" alt="Photo of Carly in the film studio">
  </div>
  <mat-card-content class="content">
    <p>
      Hi there! I'm Carly Brooks and I'm a senior Digital Communications major. I'm also majoring in Chinese and
      minoring in Film and Media.
      What I love about this major is how versatile it is. Even though Abby, Lindsay, and I are all digi comm majors,
      there are still so many different
      avenues we can take with Digital Communications. I have a passion for visual storytelling so that is why my
      concentration is in film and media.
      Editing videos for me is like putting a puzzle together, piece by piece, you create this magnificient and
      beautiful moving picture.
    </p>
    <mat-card-actions>
      <a mat-stroked-button class="button" href="https://students.cs.calvin.edu/~cbb9/homepage/" target="_blank">Check
        Out My Portfolio!</a>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<!--PROFILE CARDS -->

<div id="homebottom">
  <h2 class="seeMore">See More Digi Commer Profiles</h2>
  <!-- Carly's Profile Components -->
  <div class="row">
    <div class="column">
      <app-profile-card name="Abigail Leon" year="2021" img="abby_profile.JPG" profile="abby-profile">
      </app-profile-card>
    </div>
    <div class="column">
      <app-profile-card name="Lindsay Laurie" year="2021" img="lindsay_profile.JPG" profile="lindsay-profile">
      </app-profile-card>
    </div>
  </div>
</div>