<mat-card class="profile-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title class="title">Abigail León</mat-card-title>
    <mat-card-subtitle class="subtitle">Digital Communications</mat-card-subtitle>
  </mat-card-header>
  <div image="row">
    <img mat-card-image src="/assets/img/abby1.jpg" alt="Photo of Abigail">
    <img mat-card-image src="/assets/img/abby2.jpg" alt="Photo by Abigail">
    <img mat-card-image src="/assets/img/abby3.jpg" alt="Graphic Design by Abigal">
  </div>
  <mat-card-content class="content">
    <p>
      Hello! So you want to know more about how I got into Digi Comm? Well, when I first came to college, I really had
      no idea what I wanted to study. I am the kind of person who just wants
      to learn a little bit of everything. I'm also a pretty fast learner and get kind of tired doing the same thing for
      a long time. When I found out about Digital Communication it was a perfect match! I could
      do a little
      bit of graphic design, computer science, and video production. I enjoy the design aspect the most because there
      are endless possiblities to how you can use your skills like how I got to work making a board game!
    </p>
    <mat-card-actions>
      <a mat-stroked-button class="button" href="https://students.cs.calvin.edu/~ael44/homepage/" target="_blank">Check
        Out My Portfolio!</a>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<!--PROFILE CARDS -->

<div id="homebottom">
  <h2 class="seeMore">See More Digi Commer Profiles</h2>
  <!-- Carly's Profile Components -->
  <div class="row">
    <div class="column">
      <app-profile-card name="Carly Brooks" year="2021" img="carly_profile.JPG" profile="carly-profile">
      </app-profile-card>
    </div>
    <div class="column">
      <app-profile-card name="Lindsay Laurie" year="2021" img="lindsay_profile.JPG" profile="lindsay-profile">
      </app-profile-card>
    </div>
  </div>
</div>