<!--- Written By: Abby Leon --->
<!-- HOME INFORMATION: Headings, survey button and profile cards. -->
<h1 class="middleContent title"> <b> IS DIGITAL COMMUNICATION RIGHT FOR YOU?</b></h1>
<h3 class="middleContent"> Are you a college student looking to find out what you should major in then this is for you.
  Digital Communication is one of the least know majors yet it is probably the most versitle for a career. Find out
  today if you should become a Digi Commer!</h3>

<!-- Survey Button -->
<div class="row">
  <div class="column">
    <p> </p>
  </div>
  <div class="column">
    <!-- <button class="surveyBtn" mat-raised-button>Take Survey</button> -->
    <a mat-stroked-button class="surveyBtn" routerLink="/survey-page">Take Survey</a>
  </div>
  <div class="column">
    <p> </p>
  </div>
</div>

<br><br>

<div id="homebottom">
  <h2>Learn More from your fellow Digi Commers!</h2>
  <!-- Carly's Profile Components -->
  <div class="row">
    <div class="column">
      <app-profile-card name="Abigail León" year="2021" img="abby_profile.JPG" profile="abby-profile">
      </app-profile-card>
    </div>
    <div class="column">
      <app-profile-card name="Carly Brooks" year="2021" img="carly_profile.JPG" profile="carly-profile">
      </app-profile-card>
    </div>
    <div class="column">
      <app-profile-card name="Lindsay Laurie" year="2021" img="lindsay_profile.JPG" profile="lindsay-profile">
      </app-profile-card>
    </div>
  </div>

  <div>
    <app-chat-app></app-chat-app>
  </div>
</div>